.form {
  width: 100%;
  position: relative;
  box-sizing: border-box;
  padding: 140px 0 40px;
}

.form__layout {
  z-index: 1;
  position: absolute;
  overflow: hidden;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: polygon(0 36%, 12% 0, 71% 26%, 89% 26%, 100% 45%, 100% 100%, 0% 100%);

}

.form__bg {
  position: absolute;
  top: 50%;
  left: 50%;
  right: 0;
  transform: translate(-50%, -50%);
  width: 2500px;
  height: 2500px;
  background: conic-gradient(from 225deg at 50% 50%, #DAE856 0deg, #E3E3E3 360deg);
  animation: bganimation 60s linear infinite forwards;
}


.form__container  {
  width: 90%;
  margin: 0 auto;
}


.form__form{
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  max-width: 914px;
  margin: 0 auto;
}

.form__title {
  margin: 0 auto;
  font-family: 'Circe';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
}

.form__line {
  display: flex;
  flex-direction: row;
  column-gap: 10px;

  flex-wrap: nowrap;
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;

  .form__line {
    flex-wrap: nowrap;
    width: 100%;
  }


  @media screen and (max-width: 890px) {
    flex-wrap: wrap;
    row-gap: 25px;
    .form__line {
      flex-wrap: nowrap;

    }
  }
}

.form__label {
  font-family: 'Circe';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 24px;
  text-transform: uppercase;
  flex-shrink: 8;
  width: 100%;
  white-space: nowrap;

}

.form__input {
  border-color: transparent  transparent var(--dark-default) transparent;
  border-width: 2px;
  border-style: solid;
  background-color: transparent;
  width: 100%;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  color: var(--primary-default);
  flex-shrink: 1;

  &:focus {
    outline: none;
    border-bottom: 2px solid var(--primary-hovered);
  }

  &::placeholder {
    font-family: 'Circe';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: var(--dark-disabled);
  }
}

.form__button {
  width: 94px;
  height: 94px;
  border-radius: 50%;
  border: 2px solid var(--dark-default);
  background-color: var(--accent-default);
  background-image: url(../../images/plane.svg);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: 39% 41%;
  padding: 0;
  margin-right: 47px;
  align-self: flex-end;
}