.form {
  width: 100%;
  position: relative;
  box-sizing: border-box;
  margin:  0;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.form__layout {
  grid-row: 1;
  grid-column: 1;

  z-index: 1;
  overflow: hidden;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: polygon(0 36%, 12% 0, 71% 26%, 89% 26%, 100% 45%, 100% 100%, 0% 100%);
  position: relative;

}

.form__bg {
  position: absolute;
  top: 50%;
  left: 50%;
  right: 0;
  transform: translate(-50%, -50%); 
  width: 2500px;
  height: 2500px;
  background: conic-gradient(from 225deg at 50% 50%, #DAE856 0deg, #E3E3E3 360deg);
  animation: bganimation 60s linear infinite forwards;
}


.form__container  {
  grid-row: 1;
  grid-column: 1;
  width: 90%;
  margin: 0 auto;
  z-index: 10;
  padding: 150px 0 75px;
}


.form__form{
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  max-width: 914px;
  margin: 0 auto;
  width: 90%;
}

.form__title {
  margin: 0 auto;
  font-family: 'Circe';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
}

.form__fieldset {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  column-gap: 5px;
  margin: 0;
}

.form__text {
  color: var(--dark-default);
  font-family: 'Circe';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  white-space: nowrap;
}

.form__label {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form__input {
  border: 2px solid transparent;
  background-color: transparent;
  width: auto;
  border-bottom-color: var(--dark-default);
  color: var(--dark-default);

  font-family: 'Circe';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;

  &::placeholder {
    color:var(--dark-disabled)
  }

  &:focus {
    outline: none;
  }

  &_error {
    background-image: url(../../images/inputvalidation/error.png);
    background-size: 4px 15px;
    background-position: right 5px center;
    background-repeat: no-repeat;
  }
  &_succes {
    background-image: url(../../images/inputvalidation/succes.png);
    background-size: 20px;
    background-position: right center;
    background-repeat: no-repeat;
  }

}

.form__button {
  width: 94px;
  height: 94px;
  border-radius: 50%;
  border: 2px solid var(--dark-default);
  background-color: var(--accent-default);
  background-image: url(../../images/plane.svg);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: 39% 41%;
  padding: 0;
  margin-right: 47px;
  align-self: flex-end;
  transform: scale(1);

  &_disabled {
    background-color: #D3D3DA;
    background-image: url(../../images/draft.svg);
    
    &:active {
      transform: scale(1) !important;
    }
  }

  &:active {
    transform: scale(0.97);
  }
}

.form__err {
  opacity: 1;
  height: 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: var(--dark-default);
  text-transform: lowercase;
  padding-left: 4px;
  margin: 0 0 4px;
  transition: opacity .2s ease-in;

      &_show {
      opacity: 1;
    }
}


.form__svg {
  grid-row: 1;
  grid-column: 1;
  z-index: 2;
  width: 100%;
  max-width: 90%;
  min-height: 85%;
  max-height: 914px;
  height: auto;
  margin: 0 auto;
  stroke-width: 2px;
  stroke: var(--dark-default);
  stroke-dashoffset: 3000; 
  stroke-dasharray: 3000;
    &.animated {
      animation: dash 3s ease-out forwards;
    }
  @media screen and (max-width: 759px) {
    display: none;
  }
 }





