.phases {
  width: 100%;
  position: relative;
  box-sizing: border-box;
  padding: 130px 0 100px;
}

.phases__layout {
  z-index: 1;
  position: absolute;
  overflow: hidden;
  top:0;
  left: 0;
  width: 100%;
  height: 80%;
  clip-path: polygon(0 0, 100% 0, 100% 47%, 96% 77%, 87% 79%, 79% 90%, 28% 91%, 23% 84%, 11% 89%, 0 58%);

}

.phases__bg {
  position: absolute;
  top: 50%;
  left: 50%;
  right: 0;
  transform: translate(-50%, -50%);
  width: 2500px;
  height: 2500px;
  background: conic-gradient(from 225deg at 50% 50%, #DAE856 0deg, #E3E3E3 360deg);
  animation: bganimation 60s linear infinite forwards;
}

.phases__content {
  width: 90%;
  margin: 0 auto;
  position: relative;
  z-index: 3;
}



.phases__cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 100px;
  position: relative;
}


.phases__svg {
  z-index: 2;
  position: absolute;
  width: 90%;
  height: 63%;
  top: 23px;
  left: 0;
  stroke:var(--dark-default);
  stroke-width: 2px;
  stroke-dashoffset: 3000; 
  stroke-dasharray: 3000;


}

.phases__card {
  z-index: 3;
  flex-basis: 33.333%;
  min-height: 150px;
  max-height: 150px;
  @media screen and (max-width: 960px) {
    flex-basis: 50%;
  }

  @media screen and (max-width: 550px) {
    flex-basis: 100%;
  }
}


.phases__dot-box {
  height: 47px;
  display: flex;
  align-items: center;
}

.phases__dot {
  position: relative;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid var(--dark-default);
  opacity: 0;
  transition: all ease-in;

  &::after {
    content:'';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--dark-default);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.phases_active  .phases__dot {
  border: 10px solid var(--dark-default);
}

.phases__title {
  font-family: 'Circe';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  color: var(--dark-default);
  margin: 16px 0 8px;
}

.phases__description {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  color: var(--dark-default);
  margin: 0;
}


.animated {
  .phases__svg {animation: dash 3s ease-out forwards;}
  
  .phases__card {
    &:nth-of-type(1) .phases__dot{
      animation: zoomIn 0.3s ease-out forwards 0s;
      opacity: 1;
      transition-delay: 0;
    }

    &:nth-of-type(2) .phases__dot{
      animation: zoomIn 0.3s ease-out forwards 0.5s;
      opacity: 1;
      transition-delay: 0.5s;

    }

    &:nth-of-type(3) .phases__dot{
      animation: zoomIn 0.3s ease-out forwards 1s ;
      opacity: 1;
      transition-delay: 1s;
    }

    &:nth-of-type(6) .phases__dot{
      animation: zoomIn 0.3s ease-out forwards 1.5s;
      opacity: 1;
      transition-delay: 1.5s;
    }

    &:nth-of-type(5) .phases__dot{
      animation: zoomIn 0.3s ease-out forwards 2s;
      opacity: 1;
      transition-delay: 2s;
    }

    &:nth-of-type(4) .phases__dot{
      animation: zoomIn 0.3s ease-out forwards 2.5s; 
      opacity: 1;
      transition-delay: 2.5s;
    }

  }
}