.phases {
  width: 100%;
  max-width: 90%;
  z-index: 3;
  position: relative;
  margin: 160px auto;
}


.phases__cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 60px;
}

.phases__card {
  flex-basis: 33.333%;
  @media screen and (max-width: 960px) {
    flex-basis: 50%;
  }

  @media screen and (max-width: 550px) {
    flex-basis: 100%;
  }
}


.phases__dot-box {
  height: 47px;
  display: flex;
  align-items: center;
}

.phases__dot {
  position: relative;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #fff;
  border: 3px solid var(--dark-default);

  &::after {
    content:'';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--dark-default);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.phases_active  .phases__dot {
  border: 10px solid var(--dark-default);
}

.phases__title {
  font-family: 'Circe';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  color: var(--dark-default);
  margin: 16px 0 8px;
}

.phases__description {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  color: var(--dark-default);
  margin: 0;
}