

.faq__card  {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.faq__card.animated {
  &::after {
    content: '';
    width: 0;
    height: 2px;
    position: absolute;
    bottom:  0;
    left: 0;
    background-color: var(--dark-default);
    animation: cardTopLine 1s ease forwards;
  }
}

.faq__title {
  font-family: 'Circe';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: var(--dark-default);
  margin: 16px 0 40px;
}

.faq_text {
  max-width: 50%;
  font-family: 'Circe';
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 24px; 
  color: var(--dark-default);

  @media screen and (max-width: 1000px) {
    max-width: 90%;
  }

  ul {
    margin: 0;
  }
}
