.App {
  max-width: 100vw;
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), 
                                url(https://64.media.tumblr.com/b85f7d06171a43eec004d0be2df7eafc/tumblr_ovrf25nuJ61urz3l2o1_500.gif);
  width: 100%;
  max-width: 100%;
  height: 100vh;
}



