.navigation {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 20px 0;
  display: flex;

  .navigation__container {
    min-height: 90px;
    max-width: 90%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  
  .navigation__logo {
    width: 90px;
    height: 90px;

    img {
      width: 100%;
      height: 100%;
    }

    @media screen and (max-width: 1200px) {
      display: none;
      
    }
  }

  
  .navigation__button {
    color: var(--primary-default);
    &:hover {
      color: var(--primary-hovered);
    }

    &:active {
      color: var(--primary-onclick);
    }
  }


}
