.SmileyBackground {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;

  .bi {
    position: absolute;
    animation: move;
    animation-timing-function: ease-out;
    opacity: 1;
    user-select: none;
    pointer-events: none;
    cursor: default;
    display: block;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
  }
}


@for $i from 1 through  15 {
  .bi:nth-of-type(#{$i}){
    right: #{random(100)}+'%';
    font-size: #{random(40)}px;
    animation-delay: #{random(100)}ms;
    animation-duration: (1 + #{random(10)})+'s';
  }
}


@keyframes move {
  0% {
    opacity: 0;
    top: 100%;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 0;
  }
}