/*ЛИНИИ ЛИДА*/
@keyframes leadBottomLine {
  from {
    width: 0;
  }

  to {
    width: 65%;
  }
  
}

@keyframes leadRightLine {
  from {
    height: 0;
  }

  to {
    height: 110%;
  }
  
}


/*ШАРИКИ В ЛИДЕ*/
@keyframes  bigRoundAnimation {
  from {
    transform: rotate(0) translate(-10%, -10%) ;
  }

  to {
    transform: rotate(360deg) translate(-10%, -10%);
  }
  
}

@keyframes  middleLeftRoundAnimation {
  0% {
    transform: translate(0,-50%) rotate(0);
  }

  33% {
    transform: translate(30%,-60%) rotate(-120deg);
  } 

  66% {
    transform: translate(-45%,-50%) rotate(-240deg);
  } 

  100% {
    transform: translate(0%,-50%) rotate(-360deg);
  }
  
}

@keyframes  middleRightRoundAnimation {
  0% {
    transform: translate(0,10%) rotate(0);
  }

  33% {
    transform: translate(30%,30%) rotate(-120deg);
  } 

  66% {
    transform: translate(45%,50%) rotate(-240deg);
  } 

  100% {
    transform: translate(0%,10%) rotate(-360deg);
  }
  
}

@keyframes  smallRoundAnimation {
  0% {
    transform: translate(-40%,-30%) rotate(0);
  }

  33% {
    transform: translate(-43%,-52%) rotate(-120deg);
  } 

  66% {
    transform: translate(-30%,-42%) rotate(-240deg);
  } 

  100% {
    transform: translate(-40%,-30%) rotate(-360deg);
  }
  
}

@keyframes  small2RoundAnimation {
  0% {
    transform: translate(-22%,-30%) rotate(0);
  }

  33% {
    transform: translate(0,0) rotate(-120deg);
  } 

  66% {
    transform: translate(50%,22%) rotate(-240deg);
  } 

  100% {
    transform: translate(-22%,-30%) rotate(-360deg);
  }
  
}

/*ЛИНИИ КАРТОЧКИ*/
@keyframes cardTopLine {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
  
}

@keyframes cardRightLine {
  from {
    height: 0;
  }

  to {
    height: 100%;
  }
  
}