.footer {
  box-sizing: border-box;
  padding: 40px 0;
  width: 100%;
  
  background-color: var(--dark-default);
  color: var(--light-default);
}

.footer__container {
  margin: 0 auto;
  max-width: 90%;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  column-gap: 24px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 24px;
  @media screen and (max-width: 1240px) {
    justify-content: flex-start;
    
  }
}

.footer__box {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  
}

.footer__title {
  font-family: 'Circe';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  text-transform: uppercase;
  margin: 0;
}

.footer__links {
  display: flex;
  flex-direction: row;
  column-gap: 24px;
}

.footer__link {
  font-family: 'Circe';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  color: var(--light-default);
  transition: color 0.2s ease-in-out;
  &:hover {
    color: var(--dark-disabled);
  }
}

.footer__text {
  font-family: 'Circe';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
}