.smi {
  width: 100%;
  max-width: 90%;
  margin: 0 auto;
}

.smi__cards {
  display: flex;
  flex-direction: row;
  padding: 24px 0 0;
  border-top: 2px solid var(--dark-default);
  column-gap: 24px;

  flex-wrap: nowrap;
  perspective: 500px;
  overflow-x: scroll;
  user-select: none;
  transition: all 0.3s;
  justify-content: flex-start;

/*   &::-webkit-scrollbar {
    display: none;
  }
  
  &::-moz-scrollbar{
    display: none;
  } */
}

