.cursor {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  mix-blend-mode: difference;
  background-color: white;
  pointer-events: none;
  background-image: url(../../images/eye.svg);
  background-repeat: no-repeat;
  background-size: contain ;
  background-position: center;
}