.slider {
  position: relative;
  height: 500px;
  padding-top: 120px;
  text-align: center;
  z-index: 5;

  display: flex;
  flex-direction: column;
}

.slider__img {
 max-width: 866px;
 width: 100%;
  height: 440px;
  margin: auto;
}